<div class="modal-m8container">
  <form [formGroup]="domainAddForm">
    <div class="row form-container">
      <div class="col">
        <div class="row image-box">
          <div class="col">
            <div class="image-area">
              <img [src]="previewUrl" height="120" width="280" />
            </div>

            <div class="upload-btn">
              <label class="new-button" for="upload"> Upload</label>
              <input accept=".png,.jpg" type="file" id="upload" name="image" (change)="fileProgress($event)" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="domain-name full-width">
              <input type="text" matInput placeholder="Domain Name" formControlName="domainName" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- <mat-form-field class="domain-key-chip-list">
              <input type="text" placeholder="New keys..." matInput formControlName="keyWord">
            </mat-form-field> -->
            <mat-form-field class="cat-name full-width">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let key of keyWords" [selectable]="selectable" [removable]="removable"
                (removed)="remove(key)">
                {{ key }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
           
          <!-- <div class="row">
          <div class="col"> -->
            
              <input matInput  type="text"
               placeholder="Add KeyWords"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" 
                formControlName="keyWord" />
              </mat-chip-list>
            </mat-form-field>
         
         

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Price" formControlName="price">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Sale Price" formControlName="salePrice">
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col">
            <mat-form-field  class="full-width">
           
              <mat-select  formControlName="payment" >
                
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
      <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Choose Category" 
              matInput [matAutocomplete]="auto"
              formControlName="category"           
              >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-autocomplete>
            </mat-form-field>
            <mat-chip-list #chips>
              <mat-chip *ngFor="let category of selectedCategories" [selectable]="selectable" [removable]="removable"
              (removed)="removeCategory(category)">
                {{category.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>

    <div class="row action-btn">
      <div class="col">
        <button class="custom-btn red-btn" (click)="onCancelClick()" mat-raised-button>
          Cancel
        </button>

        <button class="custom-btn green-btn" (click)="saveDomain()" mat-raised-button>
          <span *ngIf="!domainId">Save</span>
          <span *ngIf="domainId">Update</span>
        </button>
      </div>
    </div>
  </form>
</div>
