<div class="container-fluid">

  <div class="login-text">
    <div><span class="company-text">Namoyo.com</span></div>

    <div>Admin Panel</div>
  </div>


  <div class="row login-wrapper mat-elevation-z1">
    <div class="col">

      <mat-form-field class="row full-width">
        <input type="email" matInput placeholder="Email id" [(ngModel)]="email" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="row full-width">
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" autocomplete="off">
      </mat-form-field>

      <div class="form-group row action-btn">
        <div class="col">
          <button class="custom-btn" id="login-button" mat-raised-button type="submit"
            (click)="onEmailandPasswordSignIn()" color="primary">
            <span *ngIf="!ifLoginProgress"> Sign In</span>
            <mat-spinner [diameter]="20" *ngIf="ifLoginProgress"></mat-spinner>

          </button>
        </div>

      </div>

    </div>
  </div>
</div>
