<div class="container-fluid">
  <div class="row">
    <div class="col">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="paypalId">
          <th mat-header-cell *matHeaderCellDef>Paypal Id</th>
          <td mat-cell *matCellDef="let element">
            {{element.payer_email}}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentId">
          <th mat-header-cell *matHeaderCellDef>Paypal Ref#</th>
          <td mat-cell *matCellDef="let element">
            {{element.paymentId}}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.account.email}} </td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Phone No.</th>
          <td mat-cell *matCellDef="let element"> {{element.account.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.amount|currency:'USD'}} </td>
        </ng-container>


        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef>Method</th>
          <td mat-cell *matCellDef="let element"> {{element.method}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Payment Date</th>
          <td mat-cell *matCellDef="let element">
            {{element.creationDate.seconds * 1000|date:'dd MMM yyyy, hh:mm:ss aa'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list class="chips">
              <mat-chip>{{element.status.toUpperCase()}}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>



  </div>
</div>
